<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Home</title>
    <style>
        .contenedor {
            margin: 0 auto;
            width: 50%;
        }
    </style>
</head>

<body>
  {% include "header.html" %}
    <div class="contenedor">
        <h2 class="d-flex justify-content-center display-4">Alta de Categoria</h2>
        <form action="/altaCategoria" method="post">
        <div class="mb-3">
                <label class="form-label">Agregar Categorias</label>
                <input type="text" class="form-control" placeholder="Ingrese una Categoría" name="categoria">
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
    </div>
    {% include "footer.html" %}
</body>

</html>